{% extends "base.html" %}

{% block content %}
<div>
    {% for article in article_list %}
        <h2><a href="{% url 'detail' article_id=article.id%}">{{ article.title }}</a></h2>
        <p>TIME:{{ article.date_time |date:"Y /m /d"}}</p>
        <p>CATE:<a href="{% url 'tag' cate=article.category%}">{{ article.category }}</a></p>
        <div>{{ article.article | truncatewords_html:10}}</div>
        <a class="pure-button" href="{% url "detail" article_id=article.id %}">Read More >>> </a>

    {% endfor %}
</div>
<p>
    {% for page_number in article_list.paginator.page_range %}
    {% ifequal page_number  article_list.number %}
      {{ page_number }}
    {% else %}
      <a href="?page={{ page_number }}">{{ page_number }}</a>
    {% endifequal %}
    {% endfor %}
</p>
{% endblock %}